@import "colores";

	.grid{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 1fr 6fr 1fr;
		overflow-x: hidden;
	}
	@mixin limits($w, $h, $w2, $h2) {
		max-width: $w;
		max-height: $h;
		min-width: $w2;
		min-height: $h2;
	}
	.logoEdit{
		width: 100%;
		height: auto;
		@include limits(100px, 100px, 50px, auto)
		// max-width: 100px;
		// max-height: 100px;
	}
	.imgMenu{
		transform: scale(0.5);
		&:hover{
			transform: scale(0.75);
	    }
	}
	@keyframes fadeIn{
		0%{opacity: 0%;}
		25%{opacity: 25%;}
		50%{opacity: 50%;}
		75%{opacity: 75%;}
		100%{opacity: 100%;}
	}
	.imgSize{
		transform: scale(1.5);
	}
	.pageBg{
		background-image: url(../assets/belgrano4.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: auto;
		height: auto;
		overflow-x: hidden;
	}
	.menuEdit{
		margin-top: 15%;
		margin-bottom: 15%;
		display: flex;
		justify-content: center;
		height: 100%;
	}
	.fotoCabecera{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.iframeEdit{
		padding-top: 10%;
	}
    
