@import "colores";

	.grid{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 1fr 6fr 1fr;
		overflow-x: hidden;
	}
	@mixin limits($w, $h, $w2, $h2) {
		max-width: $w;
		max-height: $h;
		min-width: $w2;
		min-height: $h2;
	}
	.logoEdit{
		width: 100%;
		height: auto;
		@include limits(100px, 100px, 50px, auto)
		// max-width: 100px;
		// max-height: 100px;
	}
	@keyframes fadeIn{
		0%{opacity: 0%;}
		25%{opacity: 25%;}
		50%{opacity: 50%;}
		75%{opacity: 75%;}
		100%{opacity: 100%;}
	}
	.imgSize{
		transform: scale(1.5);
	}
	.pageBg{
		background-image: url(../assets/belgrano4.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: auto;
		height: auto;
	}
	.menuEdit{
		margin-top: 12%;
	}
	.fotoCabecera{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	$mapColores:(
		dark: $negro,
		belgrano: $belgrano
	);
	// @each $back, $color in $mapColores{
	// 	.bg-#{$back}{
	// 		background-color: $color!important;
	// 	}                                            este tambien funcionaba pero pide map-get jajaj
	// }
	.bg-belgrano{
		background-color: map-get($map: $mapColores, $key: belgrano)!important;
	}
    .bg-dark{
        background-color: map-get($map: $mapColores, $key: dark)!important;
    }
	
    .letraTexto{
        font-family: $letraPiola;
    }
